{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    {% include('header.html.twig') %}
    {% include('navbar.html.twig') %}



    <div class="row my_card ">
        <div class="card_card z-depth-1">
            <h3>Bastien LEBLET</h3>
            <h5>Étudiant Licence Informatique </h5>
        </div>

        <div class="card_card z-depth-1">
            <p>Durant mon apprentissage, j'ai découvert une passion pour le développement web. C'est aussi pour
                cette raison que je vous présente mon CV de façon informatique.</p>
        </div>

        <div class="card_card z-depth-1 cercle">
            <h3>Compétences</h3>
            <hr>
            <div class="card_cercle">
                <div class="cadre z-depth-2">
                    <div class="percent v1">
                        <svg>
                            <circle cx="70" cy="70" r="70"> </circle>
                            <circle cx="70" cy="70" r="70"> </circle>
                        </svg>
                        <div class="nombre">
                            <h2>50 %</h2>
                        </div>
                    </div>

                    <h2 class="text"> C </h2>
                </div>

                <div class="cadre z-depth-2">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"> </circle>
                            <circle cx="70" cy="70" r="70"> </circle>
                        </svg>
                        <div class="nombre">
                            <h2>75 %</h2>
                        </div>
                    </div>

                    <h2 class="text"> JAVA </h2>
                </div>

                <div class="cadre z-depth-2">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"> </circle>
                            <circle cx="70" cy="70" r="70"> </circle>
                        </svg>
                        <div class="nombre">
                            <h2>90 %</h2>
                        </div>
                    </div>

                    <h2 class="text"> HTML/CSS </h2>
                </div>

                <div class="cadre z-depth-2">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"> </circle>
                            <circle cx="70" cy="70" r="70"> </circle>
                        </svg>
                        <div class="nombre">
                            <h2>70 %</h2>
                        </div>
                    </div>

                    <h2 class="text"> PHP </h2>
                </div>

                <div class="cadre z-depth-2">
                    <div class="percent">
                        <svg>
                            <circle cx="70" cy="70" r="70"> </circle>
                            <circle cx="70" cy="70" r="70"> </circle>
                        </svg>
                        <div class="nombre">
                            <h2>45 %</h2>
                        </div>
                    </div>

                    <h2 class="text"> ANDROID </h2>
                </div>

            </div>
        </div>

        <div class="card_card z-depth-1">
            <h5>Formation</h5>
            <hr>
            <p><b><u>2022-2023</u></b> : Licence informatique à l'Université Paris-Est Créteil à Créteil Val-de-Marne (94). </p>
            <p><b><u>2019-2022</u></b> : DUT informatique à l'Institut Universitaire de Technologie de Sénart à Fontainebleau
                Seine-et-Marne (77). </p>
            <p><b><u>2016-2019</u></b> : Baccalauréat STI2D (Science Technologique de l'Industrie et du Développement Durable)
                à Noisiel Seine-et-Marne (77). </p>
        </div>

        <div class="card_card z-depth-1">
            <h5>Experience professionelle</h5>
            <hr>
            <p><b><u>Avril à Juin 2022</u></b> : Stage au sein de la société Yomeva, developpeur backend, Paris 11<sup>eme</sup> arrondissement</p>
            <p><b><u>Janvier - Aout 2022 _ Job Étudiant </u></b> : Hypermarché Carrefour à Ormesson-sur-Marne (94)
                J'ai été équipier de vente et vendeur, mon rôle était de mettre en rayon les produits et de gérer la
                vente des produits sécurisés.</p>

            <p><b><u>Juillet - aout 2021 _ Job d'été </u></b> : Hypermarché Carrefour à Pontault Combault, Seine-et-Marne (77)
                J'ai été équipier de vente, mon rôle était de mettre en rayon les produits.</p>
            <p><b><u>2016</u></b> : Stage de découverte au sein de l'entreprise Carrefour d'une durée d'une semaine</p>



        </div>
    </div>


    <style>
        .my_card{
            padding: 1rem;
            margin: 80px 0 85px 0;
        }

        h3,h5{
            color:#fffffe;
        }

        p{
            color:#94a1b2;
        }

        .card_card {
            background-color: #16161a;
            border-radius: 5px;
            padding: 3px 3px 3px 15px;
            margin-bottom:5px;
        }

        .card_cercle{
            border-radius: 5px;
            padding: 1rem;
            margin: 1em;
            display: flex;
        }

        .cadre{
            background-color: #d1ddec;
            border-radius: 10px;
            padding: 10px;
            margin-right: 1.25rem;
        }

        /* ----------- Barre niveau  */

        svg circle {
            width: 100%;
            height: 100%;
            fill: none;
            stroke: #242629;
            stroke-width: 10;
            stroke-linecap: round;
            transform: translate(5px,5px);
        }

        svg circle:nth-child(2){
            stroke-dasharray: 360;
            stroke-dashoffset: 360;
        }

        .cadre:nth-child(1) svg circle:nth-child(2){ /* Premier */
            stroke-dashoffset: calc(-220);
            stroke: #7f5af0;
        }

        .cadre:nth-child(2) svg circle:nth-child(2){ /* Deuxième */
            stroke-dashoffset: calc(-110);
            stroke: #7f5af0;
        }

        .cadre:nth-child(3) svg circle:nth-child(2){ /* Troisième */
            stroke-dashoffset: calc(-50);
            stroke: #7f5af0;
        }

        .cadre:nth-child(4) svg circle:nth-child(2){ /* Quatrième */
            stroke-dashoffset: calc(-155);
            stroke: #7f5af0;
        }

        .cadre:nth-child(5) svg circle:nth-child(2){
            stroke-dashoffset: calc(-230);
            stroke: #7f5af0;
        }


        .percent{
            position: relative;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            box-shadow: inset 0 0 50px #94a1b2;
            background: white ;
        }

        .percent .nombre{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .percent .nombre h2 {
            color: #777;
            font-weight: 500;
            font-size: 40px;
        }

        .text{
            color: #94a1b2;
            font-weight: 700;
            margin-top: 20px ;
            font-size: 18px;
            text-align: center;

        }

        @media screen and (max-width: 1024px){
            .card_cercle{
                position: relative;
                left: 25%;
                display: inline-block;
                padding: initial;
                margin: auto;
            }

            .cadre{
                margin-bottom: 1rem;
            }


        }
    </style>

    {% include('footer.html.twig') %}
{% endblock %}
