{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    </div>
    </body>
    <footer class="page-footer">
        <div class="container">
            <div class="row">

                <div class="col l12  s12">
                    <h5 class="white-text">Lien utile</h5>
                    <ul>
                        <u><li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/leblet-bastien-946a16200/" target="_blank">Mon Linkedin</a></li></u>
                        <u><li><a class="grey-text text-lighten-3" href="https://github.com/bastienleb" target="_blank">Mon git</a></li></u>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">

        </div>
    </footer>

    </html>

    <style>
        .page-footer{
            background-color: #242629;
        }

        footer {
            border-top: solid #010101 1px;
        }

        .footer-copyright{
            display: none;
        }
    </style>
{% endblock %}
