{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
<html lang="fr">
<head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- MATERIALIZE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- ICON -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>

<style>

    body {
        background-color: #242629;
    }

</style>

<!-- JQUERY-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<!-- MATERIALIZE -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}
