{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    {% include('header.html.twig') %}
    {% include('navbar.html.twig') %}

    <div class="row">
        <div class="col s12 m6" id="card">
            <div class="card z-depth-5">
                <div class="card-content white-text">
                    <span class="card-title">SAMEGAME</span><img id="mainPhoto" alt="samegame" src="">
                    <div class="mainSlider">
                        <img src="" style="display: none" class="responsive-img" alt="samegame">
                    </div>
                    <p style="text-align: justify;text-justify: inter-word;">
                        Le <u>Samegame</u> est un jeu ou le but est de grouper un certain nombre de formes identiques afin de faire le plus
                        de point possible. Plus la taille du groupe est élevée, plus le score sera élevé.
                        <br>
                </div>
                <hr>
                <div class="box_lien">
                    <a class="lien" href="https://github.com/bastienleb/Samegame" target="_blank">Pour récupérer le code, cliquez ici</a>
                </div>
            </div>
        </div>
    </div>

    <style>
        img{
            width: 100%;
            border: 3px solid #000;
            border-radius: 25px;
        }
        .card{
            width: 100%;
            animation-name: fade-in;
            animation-duration: 2s;
            background-color: #16161a;
            margin-top: 1.5em;
            border-radius: 3px;
        }
        .card-title{
            color: #fffffe;
        }

        p{
            color: #94a1b2;
        }

        p u,.lien {
            color: #2cb67d;
        }



        .lien{
            text-decoration: underline;
        }

        .box_lien{
            padding: 16px 24px;
        }

        hr{
            opacity: 0.25;
        }

        @keyframes fade-in {
            from { opacity: 0; }
            to   { opacity: 1; }
        }



    </style>



    <script>
        let images = [];
        let altimgs = [];
        
        images[0] = ["{{asset('images/java/menu_samegame.png')}}"];
        altimgs[0] = ['Menu SameGame'];

        images[1] = ["{{asset('images/java/jeux_samegame.png')}}"];
        altimgs[1] = ['Jeux SameGame'];

        images[2] = ["{{asset('images/java/fin_samegame.png')}}"];
        altimgs[2] = ['Fin SameGame'];
        
        let index = 0;

        function change() {
            document.getElementById("mainPhoto").src = images[index];
            document.getElementById("mainPhoto").alt = altimgs[index];
            if (index === 2) {
                index = 0;
            } else {
                index++;
            }

            setTimeout(change, 2500);
        }

        window.onload = change();

    </script>

    {% include('footer.html.twig') %}
{% endblock %}
